.content__messages {
  margin: 1em 0 1em 0;
}

.content__messages__li {
  opacity: 0;
  margin-bottom: 0.5em;
  animation: fadeIn 0.3s 1;
  animation-fill-mode: forwards;
}

.card-body {
  background-color: aquamarine
}
